%header#home-hero.hero
  %div
    .header Eyebrow title
    .subheader Subheader

%main#main-home

  .container

    .line-header
      %div
        %h3 Our Services

    %header.center
      %h5 We make screens and software and all the stuff you need for in-store displays.

    #home-services
      %div a
      %div b
      %div c
      %div d
      %div e
      %div f

  %header.hero Hey

  .container

    #home-mission
      %h4 Mission statement
      %h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex ea ut unde non atque consequuntur aperiam quo omnis recusandae autem necessitatibus temporibus maxime praesentium a, quasi distinctio, reprehenderit deserunt.
