<header>
  <div class="hero-inner-wrapper">
    <div class="homepage-eyebrow">Eyebrow title here</div>
    <div class="homepage-header">Lorem ipsum dolor sit</div>
  </div>
</header>

<div class="wrapper">
  <section class="row">

    <div class="title">Colors Swatches</div>

    <div class="caption">
      Variable $red — use as brand color.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="red">red</div>
    </div>

    <div class="caption">
      Variable $red-dark — use as brand color shadow.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="red-dark">red-dark</div>
    </div>

    <div class="caption">
      Variable $black - darkest color use for main nav
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="black">black</div>
    </div>

    <div class="caption">
      Variable $darker - darker color use for for most lead text
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="darker">darker</div>
    </div>

    <div class="caption">
      Variable $dark - dark color use for for most body text
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="dark">dark</div>
    </div>

    <div class="caption">
      Variable $light - light color use for for most hint text
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="light">light</div>
    </div>

    <div class="caption">
      Variable $lighter - use slight shadow on white
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="lighter">lighter</div>
    </div>

    <div class="caption">
      Variable $white - use for background
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content colors">
      <div class="white">white</div>
    </div>
  </section>


  <section class="row">

    <div class="title">Typography</div>

    <div class="caption">
      Do @include header-xlrg — for homepage header.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="header-xlrg">Extra large header for homepage</div>
    </div>

    <div class="caption">
      Do @include header-lrg — for homepage header.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="header-lrg">This is a large header</div>
    </div>

    <div class="caption">
      Do @include header-med — for about / platform / news / clients header.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="header-med">This is a medium header</div>
    </div>

    <div class="caption">
      Do @include header-sml — for platforms toc.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="header-sml">This is a small header</div>
    </div>



    <div class="caption">
      Do @include body-text — general usesage.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="body-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex ea ut unde non atque consequuntur aperiam quo omnis recusandae autem necessitatibus temporibus maxime praesentium a, quasi distinctio, reprehenderit deserunt.
      </div>
    </div>

    <div class="caption">
      Do @include @include links on the parent
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="links">
        <a href="#">Read more about us</a>
      </div>
    </div>


    <div class="caption">
      Do @include eyebrow — for homepage and platform pages.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="eyebrow">
        I'm an eyebrow
      </div>
    </div>

    <div class="caption">
      Do @include lead-text — for homepage and platform pages.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content typography">
      <div class="lead-text">
        This is a lead text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptates enim aperiam animi aspernatur fuga cupiditate, eligendi cumque labore, reiciendis, sint voluptate, consectetur
      </div>
    </div>
  </section>


  <section class="row">

    <div class="title">Iconography</div>

    <div class="caption">
      Do @include header-lrg — for homepage header.
    </div>
    <div class="rule">
      rule-line
    </div>
    <div class="content iconography">
      <div class="header-lrg">
        This is a large header
      </div>
    </div>

  </section>
</div>
