%header#tour-hero.hero
  %div
    #tour-hero-header Overview
    #tour-hero-subheader One tour to control your technology needs

%main#main-tour

  .container.small
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex ea ut unde non atque consequuntur aperiam quo omnis recusandae autem necessitatibus temporibus maxime praesentium a, quasi distinctio, reprehenderit deserunt.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex ea ut unde non atque consequuntur aperiam quo omnis recusandae autem necessitatibus temporibus maxime praesentium a, quasi distinctio, reprehenderit deserunt.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ex ea ut unde non atque consequuntur aperiam quo omnis recusandae autem necessitatibus temporibus maxime praesentium a, quasi distinctio, reprehenderit deserunt.

  #tour-second-hero.hero.small

  .container
    %header.tour-list-header
      %h3 Our problem
    .tour-list
      %div
        %header
          %h4 Old solution
        %ul
          %li Line
          %li Line
          %li Line
          %li Line
          %li Line
          %li Line
      %div
        %header
          %h4 New solution
        %ul
          %li Line
          %li Line
          %li Line
          %li Line
          %li Line
          %li Line

  .tour-quote-hero
    .container
      .tour-quote-hero-quote "We are incredible"
      .tour-quote-hero-author &#8212; Noah Portes Chaikin
