#main-clients {
  .container {
    z-index: 2;
    background: $white;
    &:first-child {
      margin: {
        top: -($margin * 4);
      }
    }
  }
}

#clients-hero {
  background: {
    image: image-url('hero/clients.jpg');
  }
  > div {
    text: {
      align: center;
    }
  }
  .header {
    @include font ($font-bold, 42px, 1.2, $black);
  }
}
